<div class="modal-body">
  <div class="col-12 col-sm-12 form-group">
    <label class="font-weight-bold">Nome técnico</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="txtNomeCliente"
      value="{{timeCarregado.nome}}"
      disabled
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <label class="font-weight-bold">Data cadastro time</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="txtNomeCliente"
      value="{{timeCarregado.dataCadastro}}"
      disabled
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <img [src]="logoPath" id="estiloLogo">
  </div>

</div>
