<section class="vh-100 gradient-custom">
  <div class="container py-3 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form
              class="form"
              #loginForm="ngForm"
              (ngSubmit)="login(loginForm)"
            >
              <img class="logo_formatacao" src="assets/images/logoNova.png" />

              <div class="form-outline form-white mb-4">
                <input
                  type="email"
                  id="Email"
                  [(ngModel)]="email"
                  name="email"
                  #campoUsuario="ngModel"
                  required
                  class="form-control"
                />

                <label class="form-label" for="Email">Email</label>
                <app-mensagem
                  *ngIf="campoUsuario.invalid && campoUsuario.touched"
                  mensagem="Email obrigatório"
                >
                </app-mensagem>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  id="Password"
                  [(ngModel)]="password"
                  name="password"
                  class="form-control"
                  #campoPassword="ngModel"
                  required
                  autofocus
                />

                <label class="form-label" for="Password">Senha</label>
                <app-mensagem
                *ngIf="campoPassword.invalid && campoPassword.touched"
                mensagem="Senha obrigatória">
              </app-mensagem>
              </div>

              <p class="small mb-5 pb-lg-2">
                <a class="text-white-50" href="#!">Esqueceu senha?</a>
              </p>

              <button
                class="btn-Logar btn btn-outline-light btn-lg px-5"
                type="submit"
                [disabled]="loginForm.invalid"
              >
                Entrar
              </button>
            </form>

            <div>
              <p class="mb-0">
                Ainda não tem conta?
                <a href="#!" class="text-white-50 fw-bold">Cadastrar</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
